*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

:root{
    --primart-color : #003cff;
    --secondary-color: #232323;
    --titulos : 40px;
    --parrafo : 20px;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/baner.jpg");
    background-size: cover;
    background-position: center;
}

.nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    transition: all 1s ease;
}

.nav.active{
    background: #000000;
    padding: 10px;
}

.nav.active a{
    color: #ffffff;
}

.nav.active a:hover{
    background: #ffffff;
    color: #000000;
}


.nav.active .btp{
    background: #ffffff;
    color: aqua;
}


header nav .logo{
    background: transparent;
    transition: .5s;
}


header nav .logo:hover{
    background: transparent ;
    transform: scale(0.9);
}

header nav .menu{
    background: transparent;
    display: flex;
    position: relative;
    right: 150px;
}

nav .menu li{
    margin: 0 10px ;
    list-style: none;
}


.menu li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    transition: .5s;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #ffffff;
    color: #000;
    border-radius: 15px
}

header nav .buscar{
    background: transparent;
    width: 5;
    height: 25px;
    position: relative;
    right: -230px;
    padding: 5px;
}

nav .buscar input{

    width: 0px;
    height: 25px;
    padding: 0 20px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.btp {
    width: 40px;
    height: 40px;
    line-height: 80px;
    top: -7px;
    right: 0px;
    position: absolute;
    background: #ffffff;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}
  
.buscar:hover input {
    width: 240px;
}
  
.buscar input:focus {
    width: 240px;
}

.scrol{
    height: 100px;
}



/*  la oytra fase  */

header #hero {
    background-color: rgba(255, 0, 0, 0);
    width: 1800px;
    height: 600px;
    margin: 0px auto;
    text-align: center;
}

header #hero img{
    margin-right: 1300px;
    margin-top: 300px;
    transition: .5s;
    cursor: pointer;
}

header #hero img:hover{
    transform: rotate(360deg);
}

header #hero h2{
    margin-right: 1300px;
    color: #ffffff;
    font-size: var(--titulos);
    padding-top: 25px;
}

header #hero p{
    margin-top: 20px;
    margin-right: 1300px;
    color: #ffffff;
    font-size: var(--parrafo);
}

header #hero button{
    margin-right: 1300px;
    margin-top: 75px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    border-color: rgb(0, 0, 0);
    transition: .5s;
    cursor: pointer;
}

header #hero button:hover{
    color: #fdfdff;
    background: #000000;
    border-radius: 0;
}

/*  tendencias #fdfdff , #003cff*/

main .section1{
    background: linear-gradient( to right, #d6d8d6 ,  #1f2022);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .section1 .slider{
    background: transparent;
    position: relative;
    margin-left: 400px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(900px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}


.section1 .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: 2s;
    cursor: pointer;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

main .section1 .tendencias{

    position: absolute;
    background: transparent;
    width: 500px;
    height: 700px;
    margin-right: 1300px;
}

.section1 .tendencias h2{
    margin-top: 50px;
    color: #000;
    font-size: 50px;
    text-align: center;
}

.section1 .tendencias p{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}



/*terror #00aeff,#11eb2e*/

main .section2{
    background: linear-gradient(to right, #d6d8d6 ,#00aeff ); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .section2 .slider{
    background: transparent;
    position: relative;
    margin-left: 400px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(900px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}


.section2 .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(450px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: 2s;
    cursor: pointer;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

main .section2 .tendencias{
    background: transparent;
    position: absolute;
    width: 500px;
    height: 700px;
    margin-right: 1300px;
}

.section2 .tendencias h2{
    margin-top: 70px;
    color: #000;
    text-align: center;
    font-size: 50px;
}

.section2 .tendencias p{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}


/*accion #00aeff,#11eb2e*/


main .section3{
    background: linear-gradient(to right, #d6d8d6 ,#34fc709a ); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .section3 .slider{
    background: transparent;
    position: relative;
    margin-left: 400px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}


.section3 .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(460px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: 2s;
    cursor: pointer;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

main .section3 .tendencias{
    background: transparent;
    position: absolute;
    width: 500px;
    height: 700px;
    margin-right: 1300px;
}

.section3 .tendencias h2{
    margin-top: 70px;
    color: #000;
    text-align: center;
    font-size: 50px;
}

.section3 .tendencias p{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}





/*Prueba y Eroro -----------------------------------------------------*/


main .section4{
    background: linear-gradient(to right, #d6d8d6 ,#fc34349a ); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .section4 .slider{
    background: transparent;
    position: relative;
    margin-left: 1000px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}


.section4 .slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(460px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: 2s;
    cursor: pointer;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

main .section4 .tendencias{
    background: #003cff;
    position: absolute;
    width: 500px;
    height: 700px;
    margin-right: 1300px;
}

.section4 .tendencias h2{
    margin-top: 0px;
    color: #000;
    text-align: center;
    font-size: 35px;
}

.section4 .tendencias p{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}


main .seleccion{
    background: red;
    transition: .5s ease;
    top: 140px;
    right: 1250px;
    opacity: 1;
    width: 500px;
    height: 600px;
    border: 1px solid #ccc;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.seleccion .cerrar{
    position: absolute;
    right: 4px;
    top: 5px;
    cursor: pointer;
}

.seleccion .info{
    padding: 50px;
    margin-bottom: 90px;
}

.seleccion .info img{
    display: block;
    margin: 0px;
    width: 70%;
    margin-left: 50px;
}

.seleccion .info h2{
    width: 70%;
    height: 40px;
    background: #ccc;
    font-size: 24px;
    color: #000000;
    margin-left: 50px;
    text-align: center;
}

.seleccion .info p{
    width: 70%;
    height: 50px;
    background: #fdf101;
    font-size: 20px;
    color: #000000;
    margin-left: 50px;
    text-align: center;
}

.seleccion .info .precio{
    width: 70%;
    height: 50px;
    margin-left: 50px;
    background: #ff00d0;
    font-size: 30px;
    font-weight: bold;
    color: #00aeff;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.info button{
    width: 70px;
    height: 30px;
    margin:0px 90px 15px 60px;
    margin-left: 40%;
    background: #ff8c00;
    color: rebeccapurple;
    background-color: chartreuse;
    transition: .5s;
}



footer{
    background: #000000;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    font-size: 20px;

}
